EXPO_PUBLIC_SUPABASE_URL=https://fpxzoboxxsdnrgbdelbc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZweHpvYm94eHNkbnJnYmRlbGJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1MTc4ODEsImV4cCI6MjA4NzA5Mzg4MX0.MsWoRHN7Y4jFyXDoNaOw3SQtNbDsYuFypMzz9mJngP4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZweHpvYm94eHNkbnJnYmRlbGJjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTUxNzg4MSwiZXhwIjoyMDg3MDkzODgxfQ.nRzZwxygUy8lF3AkNovsVIs0J7Ir1iG0Tr1aXUHfq9g
SENTRY_AUTH_TOKEN=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

# Sentry DSN
NEXT_PUBLIC_SENTRY_DSN=https://a56b21f0b896ed8745b2c91ef7c6da88@o4510878744969216.ingest.us.sentry.io/4510878748835840
